// app global css in SCSS form

.noselect {
  user-select: none;
}

.scrollbar-custom {
  position: relative;
  overflow-y: overlay;
  scrollbar-gutter: auto;

  /* Ensure the scrollbar space is always reserved */
  padding-right: 0;
  // box-sizing: content-box;

  /* Firefox specific styles */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  @media (prefers-color-scheme: dark) {
    scrollbar-color: rgba(159, 159, 159, 0.53) transparent;
  }

  /* WebKit specific styles */
  &::-webkit-scrollbar {
    width: 4px;
    position: absolute;
    right: 0;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    @media (prefers-color-scheme: dark) {
      background-color: transparent;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden; /* 스크롤바 숨기기 */
}

@media (min-width: 350px) {
  html {
    font-size: calc(100% * 350 / env(--device-width));
  }
}
