// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #1976D2;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

// Light theme colors
$primary-light: #16743f;
$secondary-light: #4abf89;
$accent-light: #3fce97;
$positive-light: #1d8fb6;
$negative-light: #c71818;
$info-light: #34a9e0;
$warning-light: #d1a527;

// Dark theme colors (30% darker)
$primary: #16743f;
$secondary: #4abf89;
$accent: #3fce97;

$dark: #1d1d1d;
$dark-page: #1d1d1d;

$positive: #1d8fb6;
$negative: #c71818;
$info: #34a9e0;
$warning: #d1a527;

// Dark theme color adjustments
body.body--dark {
  --q-primary: #{darken($primary, 10%)};
  --q-secondary: #{darken($secondary, 10%)};
  --q-accent: #{darken($accent, 10%)};
  --q-positive: #{darken($positive, 10%)};
  --q-negative: #{darken($negative, 10%)};
  --q-info: #{darken($info, 10%)};
  --q-warning: #{darken($warning, 10%)};
}
