[Desktop Entry]
Version=0.11.3
Type=Application
Name=Q Calc
Comment=Advanced Calculator Application
Exec=qcalc %U
Icon=${SNAP}/usr/share/icons/hicolor/512x512/apps/qcalc.png
Terminal=false
Categories=Utility;Calculator;
Keywords=calculator;math;scientific;
StartupWMClass=qcalc 